Flask_SQLAlchemy==2.5.1
SQLAlchemy==1.4.18
alembic==1.6.5
Flask_Login==0.5.0
Flask_Testing==0.8.1
Flask==2.0.1
Werkzeug==2.0.1
Flask_Migrate==3.0.1
gunicorn==20.1.0
psycopg2-binary==2.9.1
pytest-cov==2.12.0
