{% extends 'withlogin.html' %}
{% block title %}New Issue{% endblock %}
{% block content %}
<form class='text-center mt-5 container' style="width: 60%;" action="/issue/book" method='POST'>
    {% for message in get_flashed_messages() %}
    <div class='alert alert-warning'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        {{message}}
    </div>
    {% endfor %}
    <h1 class='display-4 text-center'>New Issue</h1><br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
        </div>
        <select name="book" class="form-control" required autofocus placeholder='Select'>
            {% for book in books %}
            {% if book.present_copy==0 or (book in current_user.book) %}
            <option value='{{ book.id }}' name='book' disabled>{{ book.name }} by {{ book.author }}</option>
            {% else if request.args.get('book') == book.id %}
            <option value='{{ book.id }}' name='book' selected>{{ book.name }} by {{ book.author }}</option>
            {% else %}
            <option value='{{ book.id }}' name='book'>{{ book.name }} by {{ book.author }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <button class='btn btn-lg btn-primary btn-block' type='submit'>Submit</button>
</form>
{% endblock %}